

<div class="aw_footer__right">
    AsciiWriter is Asciidoctor.js based static site generator scaffold
</div>

<div class="is-small-screen">
<p>
    <script src="../../js/prism.js"></script>
   <div class="btn-group" style="padding: 1em">
    <div class="btn-group--element">
        <a class="btn-inverse" href="{{ baseuri }}rss/articles.xml">RSS Feed</a>
    </div>
   </div>
    Some rights reserved <span class="page__footer-copyleft">©</span> 2020-2026 AsciiWriter 
</p>
<p>
    Powered by Asciidoctor.js | please consider <a href="https://opencollective.com/asciidoctor">making donations!</a>
</p>
</div>
</body></html>
