<script src="../../js/prism.js"></script>
  <div class="btn-group" style="padding: 1em">
    <div class="btn-group--element">
        <a class="btn-inverse" href="{{ baseuri }}rss/articles.xml">RSS Feed</a>
    </div>
</div>
<div class="center">
    <a href="{{ baseuri }}articles.html" class="btn">Latest articles</a>
</div>

<div class="aw_footer__right">
    Hello World
</div>

<div class="is-small-screen">
<p>
    Some rights reserved <span class="page__footer-copyleft">©</span> 2020-2026 AsciiWriter 
</p>
<p>
    Powered by Asciidoctor.js | please consider <a href="https://opencollective.com/asciidoctor">making donations!</a>
</p>
</div>
</body></html>
