<header>
    AsciiWriter
</header>
<div><a href="https://asciiwriter.github.io">asciiwriter.github.io</div>
 <div id="keywords" class="keywords">
                    {{#keywords}}
                        <span class="aw-blog--keyword-detail"><small>{{.}}</small></span>&nbsp;
                    {{/keywords}}
                </div>
 <div id="category" class="category">
                    {{#category}}
                        <span class="aw-blog--keyword-detail"><small>{{.}}</small></span>&nbsp;
                    {{/category}}
                </div>
