<footer>
    <div class="center, aw_footer">
    

            <div><small title="{{ genInstant }}">Generated {{ gendate }} using Asciidoctor.js {asciidoctor-version}</small></div>

            <div class="aw_footer__right">
                Hello World
            </div>
            
            <div class="is-small-screen">
            <p>
                Some rights reserved <span class="page__footer-copyleft">©</span> 2020 AsciiWriter 
            </p>
            </div>
    </div>
</footer>
