<footer>
    <div class="center, aw_footer">
    

            <div><small title="{{ genInstant }}">Generated on {{ gendate }}</small></div>

            <div class="aw_footer__right">
                Hello World
            </div>
            
            <div class="is-small-screen">
            <p>
                Some rights reserved <span class="page__footer-copyleft">©</span> 2020 AsciiWriter 
            </p>
            <p>
                Powered by Asciidoctor.js | please consider <a href="https://opencollective.com/asciidoctor">making donations!</a>
            </p>
            </div>
    </div>
</footer>
