/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*=language-],
pre[class*=language-] {
  color: #555555;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background-color: #ECEFF1;
}

pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*=language-],
pre[class*=language-] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  background: _palette(border-bg);
  border-radius: _size(border-radius);
  border: solid 1px _palette(border);
  font-family: _font(family-fixed);
  font-size: 1.15em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.aw-extra--container {
  margin: 1em 0;
  padding: 1em;
  border-radius: 4px;
}

.aw-extra--container-past {
  background-color: #CFD8DC;
  margin: 1em 0;
  padding: 1em;
  border-radius: 4px;
}

.aw-extra--label-box {
  display: flex;
  flex-wrap: wrap;
}

.aw-extra--label {
  border-radius: 4px;
  border: 1px solid #c9c9c9;
  background-color: white;
  padding: 0.3em;
  margin: 0.1em;
  opacity: 0.7;
  color: #5f5346;
}

.aw-extra--section {
  padding-bottom: 1em;
}

.aw-extra--graph {
  display: flex;
}

.aw-extra--step {
  text-align: center;
}

.aw-extra--date {
  position: relative;
  top: -1.2em;
  left: -2em;
}

.aw-extra--before {
  border: 2px solid white;
  padding: 0 1em 1em 1em;
  color: white;
  font-weight: bold;
  border-left: none;
}
.aw-extra--before a {
  text-decoration: none;
}

.aw-extra--after {
  border: 2px solid white;
  padding: 0 1em 1em 1em;
  color: white;
  font-weight: bold;
  border-right: none;
}
.aw-extra--after a {
  text-decoration: none;
}

.aw-extra--1 {
  border: 2px solid white;
  padding: 0 1em 1em 1em;
  color: white;
  font-weight: bold;
  flex: 1;
}
.aw-extra--1 a {
  text-decoration: none;
}

.aw-extra--2 {
  border: 2px solid white;
  padding: 0 1em 1em 1em;
  color: white;
  font-weight: bold;
  flex: 2;
}
.aw-extra--2 a {
  text-decoration: none;
}

.aw-extra--3 {
  border: 2px solid white;
  padding: 0 1em 1em 1em;
  color: white;
  font-weight: bold;
  flex: 3;
}
.aw-extra--3 a {
  text-decoration: none;
}

.aw-extra--4 {
  border: 2px solid white;
  padding: 0 1em 1em 1em;
  color: white;
  font-weight: bold;
  flex: 4;
}
.aw-extra--4 a {
  text-decoration: none;
}

.aw-extra--5 {
  border: 2px solid white;
  padding: 0 1em 1em 1em;
  color: white;
  font-weight: bold;
  flex: 5;
}
.aw-extra--5 a {
  text-decoration: none;
}

.aw-extra--6 {
  border: 2px solid white;
  padding: 0 1em 1em 1em;
  color: white;
  font-weight: bold;
  flex: 6;
}
.aw-extra--6 a {
  text-decoration: none;
}

/* Fade in an element */
.anim-fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.anim-fade-in.fast {
  animation-duration: 300ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Fade out an element */
.anim-fade-out {
  animation-name: fade-out;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.anim-fade-out.fast {
  animation-duration: 0.3s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Fade in and slide up an element */
.anim-fade-up {
  opacity: 0;
  animation-name: fade-up;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 1s;
}

@keyframes fade-up {
  0% {
    opacity: 0.8;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Fade an element out and slide down */
.anim-fade-down {
  animation-name: fade-down;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes fade-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.5;
    transform: translateY(100%);
  }
}
/* Grow an element width from 0 to 100% */
.anim-grow-x {
  width: 0%;
  animation-name: grow-x;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 0.5s;
}

@keyframes grow-x {
  to {
    width: 100%;
  }
}
/* Shrink an element from 100% to 0% */
.anim-shrink-x {
  animation-name: shrink-x;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
}

@keyframes shrink-x {
  to {
    width: 0%;
  }
}
/* Fade in an element and scale it fast */
.anim-scale-in {
  animation-name: scale-in;
  animation-duration: 0.15s;
  animation-timing-function: cubic-bezier(0.2, 0, 0.13, 1.5);
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* Pulse an element's opacity */
.anim-pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
/* Pulse in an element */
.anim-pulse-in {
  animation-name: pulse-in;
  animation-duration: 0.5s;
}

@keyframes pulse-in {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
/* Increase scale of an element on hover */
.hover-grow {
  transition: transform 0.3s;
  backface-visibility: hidden;
}
.hover-grow:hover {
  transform: scale(1.025);
}